table,tr,th,td{
    text-transform: capitalize;
    border: 2px ridge black;
    border-collapse: collapse;
    font-size: 35px;
    text-align: center;
    font-family: Bernard MT Condensed;
}
tr:nth-child(even){
    background-color: rgb(84, 116, 105);
}
th{
    font-family:Bernard MT Condensed;
    font-size:35 ;
    vertical-align: baseline;
}
tr:hover{
    background-color: black;
    color: aliceblue;
}
td{
    font-family: Footlight MT Light;
}